.hello {
    z-index: 10;
    margin-top: 10px;
    width: 90vw;
    justify-content: center;
    text-align: center;
}

.myname {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    color: white;
    width: 90vw;
    font-size: 4em;
    justify-content: center;
    
    
}
.svg {
  width: 90vw;
  background-position: center;
  padding: 1ch;
  justify-self: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}