.hello {
    z-index: 10;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    animation: type 3s steps(11);
    overflow: hidden;
    font-family: 'Cutive Mono', monospace;
    color: white;
    width: 13ch;
    font-size: 4em;
    justify-content: center;
}
@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width:13ch;
    }
}

.myname {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    color: white;
    width: 100%;
    font-size: 4em;
    justify-content: center;
    
    
}
.svg {
  width: 100%;
  background-position: center;
  padding: 1ch;
  justify-self: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 1ch;
}