.boxes {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    background-color: #007193;
    overflow: hidden;
    height: auto;
    width: 90vw;
    box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    color: #00475e;
    cursor: pointer;
}

.boxes:active {
    background-color: transparent;
    opacity: .5;
}

.grids {
    align-self: center;
    justify-content: space-between;
    margin: auto;
   
}

.mainDiv {
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.heading {
    size: 200px;
    justify-content: center;
}

.name {
    font-size: 200px;
}

.div1 {
    display: flex;
    flex-wrap: wrap;
    color: white;
    width: 90vw;
    text-align: center;
    font-size: 5.5ch;
    justify-content: center;
}

.top-h1 {
    display: flex;
    flex-wrap: wrap;
    color: white;
    width: 90vw;
    font-size: 5.5ch;
    text-align: center;
    justify-content: center;
    padding-top: 0.5em;
}

.bot-h1 {
    display: flex;
    flex-wrap: wrap;
    color: white;
    width: 90vw;
    font-size: 5.5ch;
    text-align: center;
    justify-content: center;
    padding-bottom: 0.5em;
}

.arrow {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

/* @media screen and (max-width: 601px) {
    div.bot-h1 {
      font-size: .5em;
    }
  }

  @media screen and (max-width: 601px) {
    div.top-h1 {
      font-size: .5em;
    }
  } */

  @media screen and (max-width: 601px) {
    div.arrow {
      size: 2ch;
    }
  }