.wave {
    border: none;
    position: relative;
    width: 100%;
    bottom: -4vh;
    color: #fff;
    opacity: 1;
    /* min-width: 100vw; */
    background-position: center;
   background-size: cover;
   overflow: hidden;
   background-blend-mode: overlay;

}

.wrap {
    width: 100%;
   background-color: transparent;
   padding-top: 0;
   margin-top: 0; 
   background-position: center;
   background-size: cover;
   position: relative;
   overflow: hidden;
   background-blend-mode: overlay;
}

.our-partners {

    padding: 0 80px;
    position: relative;
    background-color: #fff;
}
.our-partners h3 {
    border-color: #fff;
    font-size: 5vw;
    /* margin-bottom: 15px; */
    text-align: center;
    padding-top: 20px;
    color: #007193;
    border-bottom: 5px solid #007193;
}

.our-partners-inner {
    display: flex;
    margin-top: 50px;
}
.our-partners-inner a {
    /* display: inline-block; */
    width: 20%;
    height: auto;
    padding: 25px;
    margin: 0 auto;
    border-radius: 20px;
}
.our-partners-inner p {
    display: inline-block;
    width: 80%;
    padding: 15px;
    /* margin-right: 50px;
    border-radius: 20px; */
    
    position: relative;
    bottom: 15px;
    left: 15px;
}

.ic {
    height: auto;
    width: 12vw;
}

.about-me {
    text-align: center;
    font-size: 2.5vw;
    color: rgb(40, 180, 215);
    /* padding: 10px;
    border: solid #007193 2px;
    border-radius: 10px; */
    
}

.about-me-header {
    color: rgb(40, 180, 215);
    font-size: 3.5vw;
    padding-bottom: 10px;
    text-align: center;
}